@import url('https://fonts.googleapis.com/css?family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

/*
====== BEGIN :: STYLE ======
*/

* {
    box-sizing: border-box
}

body {
    font-family: 'Peddana', sans-serif;
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0em;
    color: #6B5344;
    position: relative;
}

h2 {
    font-family: 'Dancing Script', sans-serif;
    color: #6B5344;
    margin: 0px;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 15pt;
    color: #6B5344;
    margin: 0px;
}


/*
====== BEGIN :: RATING ======
*/

.rating {
    margin: auto;
}

.checked {
    color: orange;
}


/*
====== END :: RATING ======
*/


/*
====== BEGIN :: BUTTON ======
*/

.button {
    background-color: #ff8785;
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: auto;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn-check:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-next {
    background-color: #bbb;
    border: none;
    color: white;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn-next:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/*
====== END :: BUTTON ======
*/


/*
====== BEGIN :: MAIN ======
*/

main {
    padding: 20px;
    overflow: auto;
}

#menu {
    width: 100%;
}

#menu h2 {
    text-align: center;
    padding-top: 80px;
}

#quotes {
    float: left;
    width: 75%;
    margin: 0 auto;
}


/*
====== END :: MAIN ======
*/


/*
====== BEGIN :: SLIDE ON HEADER ======
*/

header {
    display: inline;
}

.jumbotron {
    padding: 2px;
    margin-bottom: 0px;
    background-color: #ffffff;
    color: white;
}

.jumbotron p {
    font-size: 16pt;
    color: #6B5344;
    text-align: center;
    margin-top: 0px;
}

.headerSlides {
    display: none
}

div {
    vertical-align: middle;
}

.headerslideshow-container {
    max-width: 820px;
    height: auto;
    position: relative;
    margin: auto;
    overflow: hidden;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*
====== END :: SLIDE ON HEADER ======
*/


/*
====== BEGIN :: NAVBAR ======
*/

nav {
    font-family: 'Dancing Script', sans-serif;
    background-color: #ff8785;
    padding: 2px;
    position: sticky;
    top: 0;
    line-height: 10px;
    text-align: center;
}

nav li {
    display: inline;
    list-style-type: none;
    padding-right: 100px;
    padding-left: 20px;
}

nav a {
    font-family: 'Dancing Script', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    font-family: 'Dancing Script', sans-serif;
    font-weight: bold;
}


/*
====== END :: NAVBAR ======
*/


/*
====== BEGIN :: FLEXBOX ======
*/

.col {
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

.col p {
    text-align: justify;
    line-height: 1;
    padding: 10px 20px 10px 20px;
    margin: auto;
}

.col img {
    width: 200px;
    margin-top: 10px;
    padding-bottom: 0px;
}

.flex-image {
    max-width: 100%;
    height: auto;
}

.flex-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.flex-grid .col {
    width: 22%;
    height: 420px;
}


/*
====== END :: FLEXBOX ======
*/


/*
====== BEGIN :: SLIDE ON ARTICLE OF MAIN ======
*/

.mainSlides {
    display: none
}

.mainSlides img {
    width: 300px;
    margin-bottom: 10px;
    padding-left: 60px;
}

.slide-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    align-content: left;
}

div {
    vertical-align: middle;
}

.section-left {
    float: left;
    width: 40%;
}

.section-right {
    float: right;
    width: 60%;
    padding: 0px 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15pt;
    color: #6B5344;
    margin: 0px;
}

.mainslideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    overflow: hidden;
    padding-top: 0px;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(224, 137, 137);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*
====== END :: SLIDE ON ARTICLE OF MAIN ======
*/


/*
====== BEGIN :: ASIDE ======
*/

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.profile header {
    text-align: center;
}

.profile img {
    width: 200px;
}

.profile-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    align-content: center;
}


/*
====== END :: ASIDE ======
*/


/*
====== BEGIN :: FOOTER ======
*/

footer {
    padding: 1px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff8785;
    color: white;
    text-align: center;
}


/*
====== END :: FOOTER ======
*/

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 18pt;
    }
    h2 {
        font-size: 16pt;
    }
    h3 {
        font-size: 8pt;
    }
    .section-right {
        float: center;
        width: 100%;
        padding: 0px 20px;
        font-family: 'Quicksand', sans-serif;
        font-size: 10pt;
        color: #6B5344;
        margin: 0px;
        text-align: center;
    }
    .jumbotron p {
        font-size: 14pt;
    }
    nav {
        position: sticky;
        text-align: center;
        padding-left: 0px;
    }
    nav li {
        font-size: 11px;
        display: inline;
        padding: 10px;
    }
    nav a {
        font-size: 18px;
    }
    #menu h2 {
        padding-top: 20px;
    }
    #menu,
    #quotes,
    aside,
    .button {
        width: 100%;
        padding: 0;
        margin: 0 0 10px 0;
    }
    .flex-grid .col {
        width: 22%;
        height: 270px;
    }
    .mainSlides img {
        width: 200px;
        height: auto;
        margin-bottom: 10px;
        margin-left: 50px;
        padding-left: 10px;
    }
    .col {
        font-size: 10px;
    }
    .col p {
        text-align: center;
        font-size: 11px;
        padding: 5px;
        margin-bottom: 10px;
        line-height: 1;
    }
    .button {
        background-color: #F1BBBA;
        border: none;
        color: white;
        padding: 2px 10px;
        text-align: center;
        font-size: 10px;
        cursor: pointer;
    }
    footer {
        padding: 1px;
        font-size: 12pt;
        text-align: center;
    }
}


/*
====== END :: STYLE ======
*/